﻿@model IEnumerable<Iron.Models.Category>

@{
    ViewData["Title"] = "Collect";
}


<div class="row text-center">
    <div class="col-md-2 sidebar">
        <div class="alert alert-success" role="alert">
            <p>Стоимость компьютера <strong><span id="money">0</span> сом</strong></p>
        </div>
        <a class="btn btn-danger btn-block" asp-action="Collect">Очистить</a>
        <a class="btn btn-success btn-block" onclick="collectComp()">Собрать</a>
        <div class="alert alert-info" role="alert">
            @foreach (var choose in ViewBag.Choose)
            {
                <a onclick="getComp('@choose.Content','@choose.Name')">@choose.Name</a>
            }
        </div>

    </div>
    <div class="cards col-md-10 main col-md-offset-2">
        <h2>Собрать свой компьютер</h2>
        <div class="row board">
            @foreach (var item in Model)
            {
                <div class="card-box col-12 col-md-3 col-xl-3">
                    <div class="card-border" id="category_@item.Id">
                        <img src="~/@item.ImagePath" style="width: 70%; margin-top: 5px;" alt="paper">
                        <div class="cards-txt">
                            <button onclick="getCategory('@item.ControllerName', '@item.Name')" class="btn btn-primary categoryNames">@item.Name</button>
                            @if (item.IsImportant)
                                {
                            <h6 class="text-success important" id="@item.Name">обязательный компонент</h6>
                                }
                                else
                                {
                            <h6 class="text-warning">не обязательный компонент </h6>
                                }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">###</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var controllerName = '';
        var categoryName = '';
        var userName = '';
        var selected = [];

        function getComp(list, name) {
            selected = list;
            $('.modal-body').empty();
            $('#myModalLabel').html(name);
            $('.modal-body').load('/Home/Choose?list=' + list);
            $('#myModal').modal();
        }

        function getCategory(controller, name) {
            $('#myModalLabel').html(name);
            $('.modal-body').load('/' + controller + '/ToSelect');
            $('#myModal').modal();
            controllerName = controller;
            categoryName = name;
        }

        function select(category, id, img, name,price) {
            $('#category_' + category).empty();
            var image = '<img src="../' + img + '" style="width: 70%; height:140px; margin-top: 5px;" alt="...">';
            var text = '<div class="cards-txt">' +
                '<h6>' +
                name +
                ' <br/><strong><span class="price">' + price+'</span> сом</strong></h6>' +
                '<a class="btn btn-info" onclick="getCategory(\'' +
                controllerName +
                '\',\'' +
                categoryName +
                '\')">Поменять</a>' +
                '</div>';
            $('#category_' + category).append(image + text);
            $('#myModal').modal('toggle');
            addPart(category, id);
        }

        function addPart(category, part) {
            for (var s = 0; s < selected.length; s++) {
                var res = selected[s].split(':');
                if (res[0] == category) {
                    selected.splice(s,1);
                }
            }
            selected.push(category + ':' + part);
            
            updatePrice();
        }

        function updatePrice() {
            var prices = $('.price').map(function() {
                return this.innerHTML;
            }).get();
            var total = 0;
            for (var i = 0; i < prices.length; i++) {
                total += prices[i] << 0;
            }

            $('#money').html(total);
        }


        function collectComp() {
            var categories = $('.important').map(function () {
                return this.id;
            }).get();
            if (categories.length > 0) {
                alert('Выберите обязательные части: \n' + categories.join(',\n'));
            } else {
                $('.modal-body').empty();
                $('#myModalLabel').html('Результат');
                $('.modal-body').load('/Home/Choose?list=' + selected);
                $('#myModal').modal();
            }
        }


        function nextStep() {
            $('.modal-body').empty();
            $('#myModalLabel').html('');
            var label;
            var isAuthenticatedis = '@User.Identity.IsAuthenticated' == 'True';
            if (isAuthenticatedis)
             {
                 label = '<label  class=\"control-label\">Название</label>';
             }
             else {
                label = '<label  class=\"control-label\">Введите свое имя : </label>';
            }
            var input = '<input id="personInfo" class="form-control" onchange=\"getUserName(this)\" /><br/>';
            var button = '<button class="btn btn-block btn-info" onclick="order()">Заказать</button>';
            
            $('.modal-body').append(label + input + button);
        }

        function getUserName(input) {
            userName = input.value;
        }
        
        function order() {
            if (userName.length === 0) {
                alert('Заполните поле');
                return;
            }
            console.log('selected' + selected);
            $.ajax
                ({
                    url:'@Url.Action("Order","Home")',
                    data: {
                        "list": selected,
                        "userName" : userName
                    },
                    type: "POST",
                    success: function() {
                        $('#myModal').modal('toggle');
                        location.reload();
                    },
                    error: function() {
                        alert('Try again');
                    }
                }
            );
        }

        function print() {
            console.log(selected);
            $.ajax
            ({
                url: '@Url.Action("Print","Home")',
                data: {
                    "list": selected
                },
                    type: "POST",
                    success: function () {
                        window.location = '@Url.Action("Download", "Home")';
                    },
                    error: function() {
                        alert('Try again');
                    }
                }
            );
        }

    </script>
}