﻿@{
    ViewData["Title"] = "Home Page";
}



<main role="main" class="inner cover">
    <h1 class="cover-heading">КОНФИГУРАТОР СИСТЕМНОГО БЛОКА</h1>
    <p class="lead">Собрать компьютер онлайн - с проверкой совместимости</p>
    <p class="lead">Более 1000 комплектующих в конфигураторе ПК</p>
    <p class="lead">Собрать компьютер - бесплатная сборка и быстрая доставка</p>
    <p class="lead">
        <a asp-action="Collect" class="btn btn-default">СОБРАТЬ КОМПЬЮТЕР</a>
    </p>
</main>