﻿@model IEnumerable<Iron.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            
            <div class="list-group">
                <a asp-action="Items" asp-route-categoryId="@item.Id" class="list-group-item active">
                    <h4 class="list-group-item-heading">@item.Name</h4>
                    @if (item.IsImportant)
                    {
                        <p class="list-group-item-text">Обязательный компонент</p>
                    }
                    else
                    {
                        <p class="list-group-item-text">Не обязательный компонент</p>
                    }
                </a>
            </div>
        </div>
    }
</div>
