﻿@model int
@{
    ViewData["Title"] = "Items";
}

<h2>MyIron</h2>

<div class="row" id="items">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <a asp-action="CreateItem" asp-route-categoryId="@Model">Добавить</a>

        </div>
    </div>
</div>
