﻿@model IEnumerable<Iron.ViewModels.ChooseViewModel>

<h2>Результат</h2>
<hr/>

<div class="row">
    @foreach (var choose in Model.OrderBy(x => x.Name))
    {
        <div class="col-md-12">
            <button class="btn btn-info pull-left" style="min-width: 100px;" onclick="info('@choose.Name')">@choose.Name</button>
            <button class="btn btn-info pull-left" onclick="closeChoose('@choose.Name')">Закрыть</button>
            <a class="btn btn-info pull-left" asp-action="Delete" asp-route-id="@choose.Id">Удалить</a>
            <div class="hidden" id="@choose.Name">
                @await Html.PartialAsync("Choose", choose) 
            </div>        
        </div>
    }
</div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">###</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts{ 
    <script>
        $(document).ready(function() {
            $('.toRemove').addClass('hidden');
        });
        function info(choose) {
            $('#' + choose).removeClass('hidden');
        }

        function closeChoose(choose) {
            console.log(choose);
            $('#' + choose).addClass('hidden');
        }
    </script>
}