﻿@model Iron.ViewModels.SsdViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменить SSD</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" asp-route-Id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReadSpeed" class="control-label"></label>
                <input asp-for="ReadSpeed" class="form-control" />
                <span asp-validation-for="ReadSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteSpeed" class="control-label"></label>
                <input asp-for="WriteSpeed" class="form-control" />
                <span asp-validation-for="WriteSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ifs" class="control-label"></label>
                <input asp-for="Ifs" class="form-control" />
                <span asp-validation-for="Ifs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFactor" class="control-label"></label>
                <input asp-for="FormFactor" class="form-control" />
                <span asp-validation-for="FormFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Фото</label>
                <input class="form-control" type="file" name="Image" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

