﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    min-width: 900px;
    background-color: white;
}

span{
    font-size:15px;
}
a{
    text-decoration:none; 
    color: #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
    height: 400px;
}
.text{
    margin:20px 0px;
}

.fa{
    color:#4183D7;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cards {
    text-align: center;
}

.board {
    margin-top: 60px;
}
.card-box {
    margin-bottom: 30px;
    
}
.card-border {
    border: 1px solid #c7c7c7;
    height:250px;
}
.card-box img {
    width: 100%;
    height: auto;
}
.cards-txt h5 {
    font-size: 12px;
    color: #4b4b4b;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 22px;
    text-transform: uppercase;
}
.cards .btn {
    margin-top: 10px;
}

h2 {
    color: #8d8d8d;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 30px;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
}
.main {
    padding-right: 40px;
    padding-left: 40px;
}

