﻿@model IEnumerable<Iron.Models.Body>




<ul class="media-list row">
    @foreach (var part in Model)
    {
        <li class="media col-md-12">
            <div class="media-left">
                <img src="~/@part.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@part.ToString()</h4>
                <p>
                    @foreach (var item in part.Description())
                    {
                        <strong>@item.Key:</strong>
                        @item.Value

                    }
                </p>
                <a class="btn btn-success pull-right" onclick="select('@part.CategoryId','@part.Id','@part.Image','@part.ToString()','@part.Price')">Выбрать</a>
            </div>
        </li>
    }
    

</ul>