﻿@model Iron.ViewModels.ChooseViewModel



<div>
    <ul class="media-list row">
        @if (Model.Body != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info">@Model.Body.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Body.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Body.ToString()</h4>
                <p>
                    @foreach (var item in Model.Body.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.CardReader != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.CardReader.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.CardReader.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.CardReader.ToString()</h4>
                <p>
                    @foreach (var item in Model.CardReader.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }
        @if (Model.Cooler != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Cooler.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Cooler.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Cooler.ToString()</h4>
                <p>
                    @foreach (var item in Model.Cooler.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Cpu != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Cpu.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Cpu.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Cpu.ToString()</h4>
                <p>
                    @foreach (var item in Model.Cpu.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Mb != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Mb.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Mb.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Mb.ToString()</h4>
                <p>
                    @foreach (var item in Model.Mb.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Mem != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Mem.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Mem.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Mem.ToString()</h4>
                <p>
                    @foreach (var item in Model.Mem.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Oc != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Oc.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Oc.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Oc.ToString()</h4>
                <p>
                    @foreach (var item in Model.Oc.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.PowerSupply != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.PowerSupply.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.PowerSupply.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.PowerSupply.ToString()</h4>
                <p>
                    @foreach (var item in Model.PowerSupply.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Ssd != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Ssd.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Ssd.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Ssd.ToString()</h4>
                <p>
                    @foreach (var item in Model.Ssd.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Wifi != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Wifi.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Wifi.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Wifi.ToString()</h4>
                <p>
                    @foreach (var item in Model.Wifi.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }



        @if (Model.Hdd != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Hdd.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Hdd.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Hdd.ToString()</h4>
                <p>
                    @foreach (var item in Model.Hdd.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Gpu != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Gpu.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Gpu.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Gpu.ToString()</h4>
                <p>
                    @foreach (var item in Model.Gpu.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }

        @if (Model.Dvd != null)
        {
        <li class="media col-md-12">
            <h3 class="alert-info text-center">@Model.Dvd.Category.Name</h3>
            <div class="media-left">
                <img src="~/@Model.Dvd.Image" alt="..." style="width: 6em;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.Dvd.ToString()</h4>
                <p>
                    @foreach (var item in Model.Dvd.Description())
                        {
                    <strong>@item.Key:</strong>
                    @item.Value

                        }
                </p>
            </div>
        </li>
        }


    </ul>
    <p class="text-center">
        <a class="btn btn-danger btn-block toRemove" onclick="nextStep()">Дальше</a>
        <a class="btn btn-danger btn-block toRemove" onclick="print()">Напечатать</a>
    </p>
    <br />
    <br />
</div>