﻿@model Iron.ViewModels.MbViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Добавить Материнскую Плату</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Socket" class="control-label"></label>
                <input asp-for="Socket" class="form-control" />
                <span asp-validation-for="Socket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chipset" class="control-label"></label>
                <input asp-for="Chipset" class="form-control" />
                <span asp-validation-for="Chipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFactor" class="control-label"></label>
                <input asp-for="FormFactor" class="form-control" />
                <span asp-validation-for="FormFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryType" class="control-label"></label>
                <input asp-for="MemoryType" class="form-control" />
                <span asp-validation-for="MemoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slots" class="control-label"></label>
                <input asp-for="Slots" class="form-control" />
                <span asp-validation-for="Slots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMemory" class="control-label"></label>
                <input asp-for="MaxMemory" class="form-control" />
                <span asp-validation-for="MaxMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpansionSlots" class="control-label"></label>
                <input asp-for="ExpansionSlots" class="form-control" />
                <span asp-validation-for="ExpansionSlots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sound" class="control-label"></label>
                <input asp-for="Sound" class="form-control" />
                <span asp-validation-for="Sound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Network" class="control-label"></label>
                <input asp-for="Network" class="form-control" />
                <span asp-validation-for="Network" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RearConnectors" class="control-label"></label>
                <input asp-for="RearConnectors" class="form-control" />
                <span asp-validation-for="RearConnectors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Фото</label>
                <input class="form-control" type="file" name="Image" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

