﻿@model Iron.ViewModels.GpuViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменить Видео Карту</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chipset" class="control-label"></label>
                <input asp-for="Chipset" class="form-control" />
                <span asp-validation-for="Chipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryFrequency" class="control-label"></label>
                <input asp-for="MemoryFrequency" class="form-control" />
                <span asp-validation-for="MemoryFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessorFrequency" class="control-label"></label>
                <input asp-for="ProcessorFrequency" class="form-control" />
                <span asp-validation-for="ProcessorFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryType" class="control-label"></label>
                <input asp-for="MemoryType" class="form-control" />
                <span asp-validation-for="MemoryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ifs" class="control-label"></label>
                <input asp-for="Ifs" class="form-control" />
                <span asp-validation-for="Ifs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPower" class="control-label"></label>
                <input asp-for="MinimumPower" class="form-control" />
                <span asp-validation-for="MinimumPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoCardType" class="control-label"></label>
                <input asp-for="VideoCardType" class="form-control" />
                <span asp-validation-for="VideoCardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooler" class="control-label"></label>
                <input asp-for="Cooler" class="form-control" />
                <span asp-validation-for="Cooler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Фото</label>
                <input class="form-control" type="file" name="Image" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

