﻿@model IEnumerable<Iron.Models.Gpu>

@{
    ViewData["Title"] = "Index";
}

<h2>Видео Карта</h2>


<p class="pull-right">
    <a class="btn btn-default" asp-action="Create">Добавить</a>
</p>
<br />

<div style="padding-top: 30px">
    <ul class="list-group">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <li class="list-group-item">
                    <span class="badge"><a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: mintcream; color: white;">Изменить</a></span>
                    <span class="badge"><a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: mintcream; color: white;">Удалить</a></span>
                    @item.ToString()
                </li>
            }
        }
        else
        {
            <li class="list-group-item">
                <span class="badge"></span>
                Пусто
            </li>
        }
    </ul>
</div>

<div>
    <a asp-action="Index" asp-controller="Manage">Назад</a>
</div>
