﻿@using Iron.ViewModels
@model Iron.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" asp-controller="User" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" style="max-width: 390px ;padding: 15px; margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Login" class="form-control" placeholder="Логин" id="login" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Пароль" id="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div class="form-group">
        <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block" id="button" />
    </div>
</form>

