﻿@model Iron.ViewModels.CpuViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Добавить Процессор</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProcessorLine" class="control-label"></label>
                <input asp-for="ProcessorLine" class="form-control" />
                <span asp-validation-for="ProcessorLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modell" class="control-label"></label>
                <input asp-for="Modell" class="form-control" />
                <span asp-validation-for="Modell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Socket" class="control-label"></label>
                <input asp-for="Socket" class="form-control" />
                <span asp-validation-for="Socket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Core" class="control-label"></label>
                <input asp-for="Core" class="form-control" />
                <span asp-validation-for="Core" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCores" class="control-label"></label>
                <input asp-for="NumberOfCores" class="form-control" />
                <span asp-validation-for="NumberOfCores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CacheSize" class="control-label"></label>
                <input asp-for="CacheSize" class="form-control" />
                <span asp-validation-for="CacheSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraphicsCore" class="control-label"></label>
                <input asp-for="GraphicsCore" class="form-control" />
                <span asp-validation-for="GraphicsCore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Фото</label>
                <input class="form-control" type="file" name="Image" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

